<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mitoSoft.homeNet.ArduinoIDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mitoSoft.homeNet.ArduinoIDE.Properties.Settings>
            <setting name="BrokerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="YamlContent" serializeAs="String">
                <value />
            </setting>
            <setting name="GpioMode" serializeAs="String">
                <value />
            </setting>
        </mitoSoft.homeNet.ArduinoIDE.Properties.Settings>
    </userSettings>
</configuration>